:root {
  --lcars-1: #FF9900;
  --lcars-2: #CC99CC;
  --lcars-3: #9999CC;
  --lcars-4: #CC6666;
  --lcars-5: #FFCC99;
  --lcars-6: #9999FF;
  --lcars-7: #FF9966;
  --lcars-8: #CC6699;
}


#clock {
  display: flex;
  flex-direction: column;
  color: #333333;
  border: 1px solid rgba(50, 50, 50, .5);
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

#controls {
  display: flex;
  padding: 1rem;
}

.control {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(50, 50, 50, .5);
  margin: .25rem;
}


button {
  border: none;
  background-color: inherit;
  color: inherit;
  margin: .25rem;
  padding: .5rem;
  border: 1px solid rgba(50, 50, 50, .5);
  font-weight: normal;
  font-size: 1rem;
}

button::-moz-focus-inner {
  border: 0;
}

.control-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.control-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-value {
  font-weight: bold;
  font-size: 1.5rem;
  color: red;
}

#timer {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(50, 50, 50, .5);
  justify-content: center;
  align-items: center;
  padding: 1rem;
}