@font-face {
  font-family: 'Swiss_911_Ultra_Compressed_BT';
  /*a name to be used later*/
  src: url('./assets/fonts/Swiss_911_Ultra_Compressed_BT.ttf')
    /*URL to font*/
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 540px;
  height: 100%;
  font-family: Swiss_911_Ultra_Compressed_BT, Arial, Helvetica, sans-serif;
}

.app * {
  font-family: inherit;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .app {
    max-width: 720px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .app {
    max-width: 960px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app {
    max-width: 1200px;
  }
}